@font-face {
  font-family: "Dugas Pro Black";
  src: url("/font/DugasPro-Black.ttf");
}

@font-face {
  font-family: "Morganite";
  src: url("/font/Morganite-Bold.ttf");
}

@font-face {
  font-family: "Pathway Gothic One";
  src: url("/font/PathwayGothicOne-Regular.ttf");
}

:root {

}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, #root {
  height: 100%;
}

body {
  background-color: #f6dcac;
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Morganite", sans-serif;
  font-variant: small-caps;
  font-size-adjust: 0.38;
  letter-spacing: 1px;
}

h2 {
  font-size: 4.5em;
}

h3 {
  font-size: 3em;
}

p, a, input {
  font-family: "Pathway Gothic One", sans-serif;
}

input {
  font-size: 0.95em
}

input:focus {
  outline: none;
}

input::placeholder {
  color: var(--placeholder-color, #999);
}