@import "tailwindcss";
@import "@hackernoon/pixel-icon-library/fonts/iconfont.css";

@font-face {
  font-family: "Jacquard 24";
  src: url("/font/Jacquard24.ttf");
}

@font-face {
  font-family: "Ruler 9";
  src: url("/font/Ruler9.ttf");
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

/* :root { */
@theme {
  --color-bg: #aab38a;
  --color-bg-secondary: #a5ad87;
  --color-fg: #1e2210;
  --color-fg-semi-trans: #1e221080;
  --color-fg-secondary: #1b1e0e;
  --color-fg-dimmed: #79805e;
  --spacing-border: 3px;
  --inset-shadow-border: inset 2px 2px 0 var(--color-fg-semi-trans);
  --inset-shadow-border-small: inset 1px 1px 0 var(--color-fg-semi-trans);
  --shadow-border-rounded:
    3px 0 0 var(--color-fg), -3px 0 0 var(--color-fg), 0 3px 0 var(--color-fg),
    0 -3px 0 var(--color-fg);
}

:root[data-theme="dark"] {
  --color-bg: #1e2210;
  --color-bg-secondary: #1b1e0e;
  --color-fg: #aab38a;
  --color-fg-semi-trans: #aab38a80;
  --color-fg-secondary: #a5ad87;
  --color-fg-dimmed: #626751;
}

* {
  box-sizing: border-box;
  font-smooth: never;
  -webkit-font-smoothing: none;
}

html,
#root {
  height: 100%;
}

body {
  /* background: linear-gradient(45deg, var(--color-bg), var(--color-bg-secondary)); */
  background-color: var(--color-bg);
  height: 100%;
}

div {
  scrollbar-width: thin;
  scrollbar-color: var(--color-fg) transparent;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Jacquard 24", sans-serif;
  line-height: normal;
  text-shadow: 1px 1px 0 var(--color-fg-semi-trans);
}

a,
p,
i {
  text-shadow: 0.5px 0.5px 0 var(--color-fg-semi-trans);
}

i {
  font-size: 1.25em;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 3em;
}

h3 {
  font-size: 2.5em;
}

h1,
h2,
h3 {
  line-height: 0.9;
}

p {
  line-height: 1.2;
}

.column-title, .card-title, .card-description {
  overflow-wrap: anywhere;
  word-break: break-word;
  hyphens: auto;
  hyphenate-character: "-";
}

.label-text {
  overflow-wrap: normal;
  word-break: normal;
  white-space: normal;
  hyphens: manual;
}

.h1-input {
  font-family: "Jacquard 24", sans-serif;
  line-height: 0.9;
  text-shadow: 1px 1px 0 var(--color-fg-semi-trans);
  box-shadow: none;
  border: none;
  font-size: 3em;
}

.h2-input {
  font-family: "Jacquard 24", sans-serif;
  line-height: 0.9;
  text-shadow: 1px 1px 0 var(--color-fg-semi-trans);
  box-shadow: none;
  border: none;
  font-size: 3em;
  text-align: center;
}

.h3-input {
  font-family: "Jacquard 24", sans-serif;
  line-height: 0.9;
  text-shadow: 1px 1px 0 var(--color-fg-semi-trans);
  box-shadow: none;
  border: none;
  font-size: 2.5em;
}

.p-input {
  font-family: "Ruler 9", monospace;
  line-height: 1.2;
  text-shadow: 0.5px 0.5px 0 var(--color-fg-semi-trans);
  box-shadow: none !important;
  border: none;
}

p,
a,
input,
button,
textarea {
  font-family: "Ruler 9", monospace;
}

input::placeholder,
textarea::placeholder {
  color: var(--color-fg-dimmed);
}

button:hover {
  color: var(--color-bg);
  background-color: var(--color-fg);
}

textarea {
  resize: none;
  line-height: 0.9;
}

input:focus,
textarea:focus {
  outline: none;
}

input:not(.h1-input),
textarea {
  padding-inline: 4px;
}

input:focus,
textarea:focus,
.h1-input,
.h2-input,
.h3-input,
.p-input {
  background-origin: border-box;
  background-clip: border-box;
  background-image:
    repeating-linear-gradient(
      90deg,
      var(--color-fg) 0,
      var(--color-fg) 6px,
      transparent 6px,
      transparent 12px
    ),
    repeating-linear-gradient(
      90deg,
      var(--color-fg) 0,
      var(--color-fg) 6px,
      transparent 6px,
      transparent 12px
    ),
    repeating-linear-gradient(
      0deg,
      var(--color-fg) 0,
      var(--color-fg) 6px,
      transparent 6px,
      transparent 12px
    ),
    repeating-linear-gradient(
      0deg,
      var(--color-fg) 0,
      var(--color-fg) 6px,
      transparent 6px,
      transparent 12px
    );
  background-size:
    100% 3px,
    100% 3px,
    3px 100%,
    3px 100%;
  background-position:
    0 0,
    0 100%,
    0 0,
    100% 0;
  background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
  animation: marching-ants 1s steps(2) infinite;
}

.h1-input,
.h2-input,
.h3-input,
.p-input {
  outline: 3px dashed transparent;
}

input:not(.h1-input, .h2-input, .h3-input, .p-input, :focus),
textarea:not(.h1-input, .h2-input, .h3-input, .p-input, :focus) {
  box-shadow: var(--inset-shadow-border-small);
}

input:not(.h1-input, .h2-input, .h3-input, .p-input):focus,
textarea:not(.h1-input, .h2-input, .h3-input, .p-input):focus {
  border: 3px dashed transparent;
}

@keyframes marching-ants {
  0% {
    background-position:
      0 0,
      0 100%,
      0 0,
      100% 0;
  }
  100% {
    background-position:
      12px 0,
      -12px 100%,
      0 -12px,
      100% 12px;
  }
}
