@font-face {
    font-family: "Dugas Pro Black";
    src: url("../public/font/DugasPro-Black.ttf");
}

@font-face {
    font-family: "Dugas Pro";
    src: url("../public/font/DugasPro-Regular.ttf");
}

:root {
  
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}